@import "grid/grid-2";
/* THEME 2 /////////////////////////////////////////////////  */
.theme-2{
    position: relative;
    min-height: 100vh;
    .container {
        @media screen and (max-width: 1200px) {
            width: 100%;
        }
    }
    a{
        transition: all 200ms ease-out;
        &:hover{ text-decoration: none;}
    }

    /* GENERALS /////////////////////////////////////////////////  */
    
    /* GRID /////////////////////////////////////////////////  */
    main{
        padding-bottom: $footer-height;
        @media screen and (max-width: $screen-xs-max) {
            padding-bottom: $footer-height-mobile;
        }
        .wrapper{
            padding: $space-wrapper-2;
            @media screen and (max-width: $screen-xs-max) {
                padding: $space-wrapper-mobile;
            }



            /* Tipography /////////////////////////////////////////////////  */
            h1, h2, h3{
                padding-top: $space-med;
                padding-bottom: $space-med;
                margin: 0;
                .item-artist-name{
                    display: block;
                    padding-bottom: $space-min;
                }
                a{
                    display:inline-block;
                    &:hover, &:focus{
                        text-decoration: none;
                    }
                }
                strong{
                    font-weight: 900;
                }
            }


            p{
                font-size: $text-med;
                line-height: $line-height-normal;
            }

            img{
                max-width: 100%;
                height: auto;
            }



            /* BTN /////////////////////////////////////////////////  */
            .btn{
                text-transform: uppercase;
                border-style: solid;
                border-width: 1px;
                border-radius: 0;
                border-left: 0;
                border-right: 0;
                border-top: 0;
                padding: $space-normal $space-big;
                letter-spacing: $space-extra-min;
                transition: all 200ms ease-out;
            }



            /* Section /////////////////////////////////////////////////  */

            section{
                &.grouping-home.grouping-first,
                &.grouping-only-text,
                &.grouping-only-image,
                &.grouping-only-gallery{
                    text-align: center;
                }
                &.grouping-layout{
                    padding-top: $space-bigger;
                    &.grouping-layout-gallery-detail,
                    &.grouping-layout-exhibition-detail{
                        .grouping-gallery{
                            padding-top: $space-big;
                            ul{
                                text-align: center;
                                list-style: none;
                                padding: 0;
                            }
                        }
                        .grouping-content{
                            background: none;
                            &:before{
                                display: none;
                            }
                        }
                    }
                                
                                
                    &.grouping-layout-item{
                        padding-top: $space-medlarge;
                        @media screen and (max-width: $screen-xs-max) {
                            padding-top: $space-normal;
                        }
                        .grouping-content{
                            .form_paypal{
                                &:before{
                                    position: absolute;
                                    z-index: 2;
                                    top: $space-extra-min;
                                    left: $space-min;
                                    font-size: $text-logo-title;
                                }
                            }
                        }
                    }
                    &.grouping-layout-exhibition{
                        padding-top: $space-medlarge;
                        @media screen and (max-width: $screen-xs-max) {
                            padding-top: $space-normal;
                        }
                    }
                    &.grouping-layout-page{
                        padding-top: $space-medlarge;
                        @media screen and (max-width: $screen-xs-max) {
                            padding-top: $space-normal;
                        }
                    }
                    &.grouping-layout-exhibition.grouping-list{
                        article{
                            margin-bottom: $space-big;
                            .grouping-content{
                                .grouping-content-text{
                                    min-height: 180px;
                                }
                            }
                            &:last-child{
                                border-bottom: none;
                                margin-bottom: 0;
                            }
                        }
                    }
                    &.grouping-layout-exhibition-detail{
                        .grouping-content-data{
                            text-align: left;
                            margin-top: $space-big-negative;
                            padding-bottom: $space-big;
                        }
                    }
                    .grouping-layout-title{
                        text-align: left;
                        padding-top: $space-big;
                        padding-bottom: $space-big;
                        h1,h2,h3{
                            &:after{
                                margin: $space-med-vertical-center;
                            }
                        }
                        .all-link{
                            display: block;
                            float: right;
                            margin-top: $space-med-big;
                            display: block;
                            @media screen and (max-width: $screen-xs-max) {
                               margin-top: $space-normal;
                                float: none;
                            }
                            a{
                                text-transform: uppercase;
                                display: inline-block;
                                &:before{
                                    content: "\f009";
                                    display: inline-block;
                                    padding-right: $space-min;
                                    font-family: FontAwesome;
                                    font-size: $text-mini-title;
                                }
                            }
                        }
                    }
                    .grouping-image{
                        padding-bottom: $space-big;
                    }
                }
                .container{
                    border-bottom: none;
                    padding-bottom: $space-big;
                    padding-top: $space-big;

                    /* SLIDE /////////////////////////////////////////////////  */
            .carousel{
                .glyphicon-chevron-right:before{ content:"\f105"; font-family: FontAwesome;}
                .glyphicon-chevron-left:before{ content:"\f104"; font-family: FontAwesome;}
                .carousel-indicators{ 
                    li{
                        border-radius: 0;
                        width: $space-big;
                        height: $space-med;
                    }
                }
                .carousel-control{ position: absolute;
                    &.right{}, &.left{background: none;}
                }
            }

                    .grouping-image{
                        a{
                            display: block;
                            position: relative;
                            &:before{
                                content:"";
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                z-index: 2;
                                opacity: 0;
                                transition: all 200ms ease-out;
                            }
                            &:hover:before{
                                opacity: 0.4;
                            }
                        }
                    }

                    .grouping-content-data{
                        ul{
                            list-style: none;
                            padding: 0;
                            margin: 0;

                            li{
                                padding: 0;
                                margin: 0;
                                line-height: $line-height-big;
                                text-transform: uppercase;
                                letter-spacing: $space-extra-min;
                            }
                        }
                    }

                    .grouping-content{
                        .grouping-content-contact{
                            padding-top: $space-big;
                            .form-control{
                                border-radius: 0;
                                border-top: 0;
                                border-right: 0;
                                border-left: 0;
                                border-bottom-style: solid;
                                border-bottom-width: 4px;
                                font-size: $text-med;
                                line-height: $line-height-big;
                                height: auto;
                                box-shadow: none;
                                padding: $space-normal;
                            }
                            .control-label{
                                font-size: $text-med;
                                line-height: $line-height-big;
                                padding: $space-normal;
                                text-align: left;
                            }
                            .control-check{
                                font-size: $text-med;
                                text-transform: uppercase;
                            }
                        }
                        .grouping-content-title{
                            .back-link{
                                a{
                                    text-transform: uppercase;
                                    &:before{
                                        content: "\f104";
                                        display: inline-block;
                                        padding-right: $space-min;
                                        font-family: FontAwesome;
                                    }
                                }
                            }
                        }
                        .grouping-content-breadcrumbs{
                             ul{
                                list-style: none;
                                padding: 0;
                                margin: 0 0 $space-normal-negative 0;
                                text-transform: uppercase;
                                li{
                                    padding: 0;
                                    margin: 0;
                                    display: inline-block;
                                    border-right-style: solid;
                                    border-right-width: 1px;
                                    a{
                                        padding: 0 $space-med 0 $space-min;
                                        display: block;
                                        letter-spacing: $space-extra-min;
                                    }
                                }
                            }
                        }
                        .grouping-content-info{
                            padding-bottom: $space-normal;

                            ul{
                                list-style: none;
                                padding: 0 0 $space-normal 0;
                                margin: 0;
                                font-size: $text-med;

                                li{
                                    padding: 0;
                                    margin: 0;
                                    line-height: $line-height-big;
                                    text-transform: uppercase;
                                }
                            }
                        }
                        .grouping-content-price{
                            h6{
                                font-size: $text-mini-title;
                                font-weight: 700;
                                padding-bottom: $space-med;
                            }
                        }
                        .grouping-content-text{
                            padding-bottom: $space-normal;

                            ul{
                                list-style: none;
                                padding: 0 0 $space-normal 0;
                                margin: 0;
                                font-size: $text-med;
                                li{
                                    line-height: $line-height-normal;
                                    padding: 0 0 0 $space-normal;
                                    margin: 0;
                                    position: relative;
                                    &:before{
                                        content: "";
                                        display: block;
                                        width: $space-med;
                                        height: $space-med;
                                        position: absolute;
                                        left: 0;
                                        top: $space-med;

                                    }
                                }
                            }
                            ol{
                                padding: 0 0 $space-normal $space-normal;
                                margin: 0;
                                font-size: $text-med;
                                li{
                                    line-height: $line-height-normal;
                                    padding: 0 0 0 $space-normal;
                                    margin: 0;
                                    position: relative;
                                }
                            }
                        }
                        .grouping-content-link{
                            padding-bottom: $space-normal;
                        }
                        .grouping-content-social{
                            ul{
                                border-top-width: 1px;
                                border-top-style: solid;
                                padding-top: $space-normal;
                                padding-left: 0;
                                @media screen and (max-width: $screen-xs-max) {
                                    text-align: center;
                                }
                                li{
                                    display: inline-block;
                                    span{
                                        display: block;
                                        padding: $space-normal $space-med;
                                        line-height: $line-height-normal;
                                        font-size: $text-normal;
                                        @media screen and (max-width: $screen-xs-max) {
                                           display: none;
                                        }
                                    }
                                    a{
                                        display: block;
                                        padding: $space-normal $space-med;
                                        border-radius: 100%;
                                        width: 3.8em;
                                        text-align: center;
                                        line-height: $line-height-normal;
                                        font-size: $text-normal;
                                    }
                                }
                            }
                        }
                    }
                    .grouping-gallery{
                        padding-bottom: $space-big;
                        ul{
                            text-align: center;
                            list-style: none;
                            padding: 0;
                            li{
                                a{
                                    text-align: center;
                                    display: block;
                                    padding-bottom: $space-big;
                                    figure{
                                        position: relative;
                                        text-align: center;
                                        margin: 0 auto;
                                        width: 100%;

                                        figcaption{
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                            right: 0;
                                            text-align: center;
                                            padding: $space-normal $space-med;
                                            opacity: 0.4;
                                            z-index: 200;
                                            .item-artist-name{
                                                display: block;
                                                padding-bottom: $space-min;
                                            }
                                        }
                                        span{
                                            display: block;
                                            position: relative;
                                            img{
                                                max-height: 100%;
                                                position: relative;
                                            }
                                            @-moz-document url-prefix() {
                                                img {
                                                    width: 100%;
                                                }
                                            }
                                            &:before{
                                                content:"";
                                                display: block;
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                right: 0;
                                                bottom: 0;
                                                z-index: 2;
                                                opacity: 0;
                                                transition: all 200ms ease-out;
                                                z-index: 100;
                                            }
                                        }
                                    }
                                    @-moz-document url-prefix() {
                                        figure {
                                            width: auto;
                                        }
                                    }
                                    &:hover{
                                        figure{
                                            figcaption{
                                                opacity: 1;
                                            }
                                            span{
                                                &:before{
                                                    opacity: 0.4;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:last-child{
                    .container{
                        border-bottom: none;
                    }
                }
            }

        }
    }

    /* HEADER /////////////////////////////////////////////////  */
    header{
        .navbar-collapse{
            border-top: none;
            box-shadow: none;
        }
        .navbar-top{
            border-bottom-style: solid;
            border-bottom-width: 1px;
            margin: $space-med-vertical;
            @media screen and (max-width: $screen-xs-max) {
                border-bottom: none;
            }
            ul{
                list-style: none;
                padding: $space-med-vertical;
                margin: 0;
                li{
                    display: inline-block;
                    padding: $space-min;
                    a{
                        text-transform: uppercase;
                    }
                }
            }
        }
        .navbar-header{
            
            margin: 0 auto;
            display: block;
            text-align: center;
            padding: $space-up-vertical;
            @media screen and (max-width: $screen-xs-max) {
                text-align: left;
            }
            .navbar-brand{
                margin: 0 auto;
                display: inline-block;
                padding: 0;
                float: none;
                height: auto;
                font-size: $text-logo-title;
                img{
                    height: auto;
                    max-height: $space-large;
                    width: auto;
                    max-width: 100%;
                    @media screen and (max-width: $screen-xs-max) {
                        height: $space-normal;
                        max-height: $space-normal;
                    }
                }
                span{
                    display: block;
                    line-height: $line-height-extra-big;
                    @media screen and (max-width: $screen-xs-max) {
                        line-height: normal;
                    }
                }
            }

            .navbar-toggle{
                margin: 0;
                padding: 0;
                .icon-bar{
                    height: 1px;
                    &+ .icon-bar{ margin-top: 8px;}
                }
            }
        }
        #navbar{
            float: none;
            text-align: center;
            ul{
                margin: 0 auto;
                float: none;
                text-align: right;
                padding: 0 0 $space-med 0;
                li{
                    display: inline-block;
                    float: none;
                    padding: 0;
                    font-size: $text-med;
                    vertical-align: middle;

                    a{
                        padding: $space-med;
                        display: inline-block;
                        line-height: $line-height-normal;
                        @media screen and (max-width: $screen-xs-max) {
                            line-height: $line-height-big;
                        }
                    }
                }
            }

            &.in, &.collapsing{
                ul{
                    li{
                        display: block;
                        a{
                            display: block;
                            text-align: center;
                        }
                        &::after{ display: none;}
                    }
                }
            }
        }
    }

    /* FOOTER /////////////////////////////////////////////////  */
    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: $footer-height;
        @media screen and (max-width: $screen-xs-max) {
            height: $footer-height-mobile;
        }
        .container{
            border-top-style: solid;
            border-top-width: 1px;
            padding-top: $space-big;
            padding-bottom: $space-big;
        }
        h6{
            font-weight: 700;
            font-size: $text-logo-mini-title;
            padding: $space-med-vertical;
        }

        p{
            font-size: $text-med;
            line-height: $line-height-normal;
            margin: 0;
        }

        ul{
            list-style: none;
            padding: $space-normal-vertical;
            margin: 0;
            li{
                display: inline-block;
                float: none;
                a{
                    display: block;
                    padding: $space-med;
                    font-size: $text-mini-title;
                }
            }
        }

        .logo-footer{
            a{
                display: inline-block;
                margin: $space-normal auto;
                svg{
                    max-width: 80px;
                    height: auto;
                }
            }
        }
    }
}

