/*!
 * Grid error 2020
 */

.theme-1 {
    main {
        .wrapper {
            section {
                .container {
                    .grouping-gallery {
                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            li {
                                box-sizing: border-box;
                                a {
                                    figure {
                                        display: inline-block;
                                        max-width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
