/* Grouping /////////////////////////////////////////////////  */
.theme-3{
    padding-bottom: 0 !important;
    main{
        .wrapper{
            .grouping {
                .grouping-layout-title{
                    @include make-sm-column(12);
                    @include make-sm-column-offset(0);
                }
                .grouping-image {
                    @include make-sm-column(5);
                    padding-top: $space-normal;
                    iframe{ width: 100% !important;}
                }
                .grouping-content {
                    @include make-sm-column(6);
                    @include make-sm-column-offset(1);
                    padding-top: $space-normal;
                    padding-bottom: $space-normal;
                    &:before{
                        content: "";
                        display: block;
                        position: absolute;
                        right: 100%;
                        left: -30%;
                        top: $space-large;
                        height: 1px;
                        z-index: 1;
                        @media screen and (max-width: $screen-xs-max) {
                            display: none;
                        }
                    }
                }
                .grouping-gallery{
                    @include make-sm-column(12);
                    ul{
                        li{
                            @include make-lg-column(3);
                                @media screen and (max-width: $screen-md-max) {
                                    @include make-md-column(4);
                                }
                                @media screen and (max-width: $screen-sm-max) {
                                    @include make-sm-column(6);
                                }
                                @media screen and (max-width: $screen-xs-max) {
                                    @include make-xs-column(12);
                                }
                        }
                    }
                }
                .grouping-content-contact{
                    .form-group{
                        .control-input,
                        .control-textarea,
                        .control-check,
                        .control-submit{
                           @include make-sm-column(12);
                        }
                    }
                }
                /* HOME - FIRST /////////////////////////////////////////////////  */
                &.grouping-home.grouping-first{

                    
                    .grouping-image{
                        width: 100vw;
                        height: 100vh;
                        position: relative;
                        margin-left: -50vw;
                        left: 50%;
                        padding: 0;
                        margin-top: $margin-carrousel-3;
                        @media screen and (max-width: $screen-xs-max) {
                            margin-top: $space-speciallarge-negative;
                        }

                        img{
                            width: 100%;
                        }
                        .carousel{
                            height: 100vh;
                            .carousel-inner{
                                height: 100vh;
                                .item{
                                    height: 100vh;    
                                  top: -50%; 
                                  left: -50%; 
                                  width: 200%; 
                                  height: 200%;
                                    
                                    img{
                                        position: absolute;
                                        z-index: -1;
                                        top: 0;
                                        left: 0;
                                        bottom: 0;
                                        right: 0;
                                        top: 0;
                                        margin: auto; 
                                        min-width: 50%;
                                        max-width: inherit;
                                        width: auto;
                                        min-height: 50%;
                                        overflow-x: hidden;
                                    }
                                }
                            }
                        }  
                            
                    }
                    .grouping-content{
                        @include make-sm-column(6);
                        @include make-sm-column-offset(3);
                        
                        &:before{
                            display: none;
                        }
                        @media screen and (max-width: $screen-xs-max) {
                            margin-top: 0;
                        }
                    }
                }
                /* Only TEXT /////////////////////////////////////////////////  */
                &.grouping-only-text{

                   .grouping-image {
                        @include make-sm-column(12);
                    }
                    .grouping-content{
                        @include make-sm-column(6);
                        @include make-sm-column-offset(3);
                        &:before{
                            left: inherit;
                            width: 1px;
                            right: 50%;
                            bottom: 99%;
                            top: -3em;
                            height: auto;
                        }
                    }
                }
                /* Only IMAGE /////////////////////////////////////////////////  */
                &.grouping-only-image {
                    text-align: center;

                    .grouping-image {
                        @include make-sm-column(8);
                        @include make-sm-column-offset(2);
                    }
                    .grouping-content {
                        @include make-sm-column(6);
                        @include make-sm-column-offset(3);
                        &:before{
                            display: none;
                        }
                    }
                }
                /* Only GALLERY /////////////////////////////////////////////////  */
                &.grouping-only-gallery {

                    .grouping-image {
                        @include make-sm-column(12);
                        @include make-sm-column-offset(0);
                    }
                    .grouping-content {
                        @include make-sm-column(6);
                        @include make-sm-column-offset(3);
                        &:before{
                            display: none;
                        }
                    }
                }

                /* GALLERY LIST Layout /////////////////////////////////////////////////  */
                &.grouping-layout-gallery-list{
                    .grouping-gallery{
                        ul{
                            margin-top: 0;
                            li{
                                a{
                                    figure{
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                }

                /* GALLERY DETAIL layout /////////////////////////////////////////////////  */
                &.grouping-layout-gallery-detail{
                    .grouping-layout-title{
                        @include make-sm-column(6);
                        @include make-sm-column-offset(0);
                        @include make-md-column(4);
                    }
                    .grouping-gallery{
                        @include make-sm-column(12);
                    }
                    .grouping-image{
                        @include make-sm-column(6);
                        @include make-md-column(8);
                        img{
                            border-width: 4px;
                            border-style: solid;
                        }
                    }
                    .grouping-content{
                        @include make-sm-column(8);
                        @include make-sm-column-offset(2);
                        @include make-md-column(6);
                        @include make-md-column-offset(3);
                        &:before{
                            display: none;
                        }
                    }
                }
                /* EXHIBITIONS LIST layout /////////////////////////////////////////////////  */
                &.grouping-layout-exhibition.grouping-first{
                    .container{
                        padding-top: $space-medlarge;
                    }
                }
                
                &.grouping-layout-exhibition.grouping-list{
                    article{
                        @include make-sm-column(6);
                        @include make-sm-column-offset(0);
                        @include make-md-column(4);
                    
                        .grouping-image{
                            @include make-sm-column(12);
                        }
                        .grouping-content{
                            @include make-sm-column(12);
                            @include make-sm-column-offset(0);
                            &:before{
                               display: none;
                            }

                            .grouping-content-data{
                                @include make-sm-column(12);
                            }
                            .grouping-content-title{
                                @include make-sm-column(12);
                            }
                            .grouping-content-text{
                                @include make-sm-column(12);
                            }
                            .grouping-content-link{
                                @include make-sm-column(12);
                                text-align: right;
                                padding-top: $space-normal;
                            }
                        }
                        
                        &.grouping-only-text{
                            .grouping-content{ 
                                @include make-sm-column(12);
                                &:before{
                                    left: 0;
                                    margin-left: -1px;
                                    @media screen and (max-width: $screen-xs-max) {
                                        top: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                /* EXHIBITIONS detail layout /////////////////////////////////////////////////  */
                &.grouping-layout-exhibition-detail{
                    .grouping-layout-title{
                        @include make-sm-column(12);
                        @include make-sm-column-offset(0);
                    }
                    .grouping-content-data{
                        @include make-sm-column(12);
                        @include make-sm-column-offset(-12);
                    }
                    .grouping-gallery{
                        @include make-sm-column(12);
                    }
                    .grouping-image{
                        @include make-sm-column(6);
                        @include make-md-column(4);
                        @include make-lg-column(3);
                        img{
                            border-width: 4px;
                            border-style: solid;
                        }
                    }
                    .grouping-content{
                        @include make-sm-column(6);
                        @include make-sm-column-offset(0);
                        &:before{
                            display: none;
                        }
                    }
                    .grouping-map{
                        width: 99.2vw;
                        height: auto;
                        position: relative;
                        margin-left: -50vw;
                        left: 50%;
                        padding: 0;
                        margin-bottom: $space-big-negative;
                        overflow: hidden;
                        @media screen and (max-width: $screen-md-max) {
                            width: 98.5vw;
                        }
                        @media screen and (max-width: $screen-sm-max) {
                            width: 98vw;
                        }
                        @media screen and (max-width: $screen-xs-max) {
                            width: 97vw;
                        }
                        iframe{ width: 100% !important;}
                    }                    
                }
                
                /* ITEM detail layout /////////////////////////////////////////////////  */
                &.grouping-layout-item{
                    .container{
                        padding-top: $space-medlarge;
                        @media screen and (max-width: $screen-xs-max) {
                            padding-top: 0;
                        }
                        .grouping-content{
                            &:before{
                                display: none;
                            }
                            .form_paypal{
                                position: relative;
                                padding-bottom: $space-normal;
                                display: inline-block;
                                &:before{
                                    content: "\f1f4";
                                    font-family: FontAwesome;
                                }
                                .btn{
                                    padding-left: $space-large;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

