/* Grouping /////////////////////////////////////////////////  */
.theme-1{
    padding-bottom: 0 !important;
    main{
        .wrapper{
            .grouping {
                .grouping-layout-title{
                    @include make-sm-column(8);
                    @include make-sm-column-offset(2);
                }
                .grouping-image {
                    @include make-sm-column(5);
                    iframe{ width: 100% !important;}
                }
                .grouping-content {
                    @include make-sm-column(6);
                    @include make-sm-column-offset(1);
                }
                .grouping-gallery{
                    @include make-sm-column(12);
                    ul{
                        li{
                            @include make-lg-column(3);
                                @media screen and (max-width: $screen-md-max) {
                                    @include make-md-column(4);
                                }
                                @media screen and (max-width: $screen-sm-max) {
                                    @include make-sm-column(6);
                                }
                                @media screen and (max-width: $screen-xs-max) {
                                    @include make-xs-column(12);
                                }
                        }
                    }
                }
                .grouping-content-contact{
                    .form-group{
                        .control-input,
                        .control-textarea,
                        .control-check,
                        .control-submit{
                           @include make-sm-column(12);
                        }
                    }
                }
                /* HOME - FIRST /////////////////////////////////////////////////  */
                &.grouping-home,
                &.grouping-layout-page{
                    .grouping-gallery{
                        padding-top: $space-big;
                    }
                }
                &.grouping-home.grouping-first{

                    .grouping-image{
                        @include make-sm-column(12);
                    }
                    .grouping-content{
                        @include make-sm-column(6);
                        @include make-sm-column-offset(3);
                    }
                }
                /* Only TEXT /////////////////////////////////////////////////  */
                &.grouping-only-text{

                   .grouping-image {
                        @include make-sm-column(12);
                    }
                    .grouping-content{
                        @include make-sm-column(6);
                        @include make-sm-column-offset(3);
                    }
                }
                /* Only IMAGE /////////////////////////////////////////////////  */
                &.grouping-only-image {
                    text-align: center;

                    .grouping-image {
                        @include make-sm-column(12);
                        @include make-sm-column-offset(0);
                    }
                    .grouping-content {
                        @include make-sm-column(6);
                        @include make-sm-column-offset(3);
                    }
                }
                /* Only GALLERY /////////////////////////////////////////////////  */
                &.grouping-only-gallery {

                    .grouping-image {
                        @include make-sm-column(12);
                        @include make-sm-column-offset(0);
                    }
                    .grouping-content {
                        @include make-sm-column(6);
                        @include make-sm-column-offset(3);
                    }
                }

                /* GALLERY LIST Layout /////////////////////////////////////////////////  */
                &.grouping-layout-gallery-list{
                    .grouping-gallery{
                        ul{
                            li{
                                a{
                                    figure{
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                }

                /* GALLERY DETAIL layout /////////////////////////////////////////////////  */
                &.grouping-layout-gallery-detail{
                    .grouping-gallery{
                        @include make-sm-column(12);

                        ul{
                            li{
                            @include make-lg-column(3);
                                @media screen and (max-width: $screen-md-max) {
                                    @include make-md-column(4);
                                }
                                @media screen and (max-width: $screen-sm-max) {
                                    @include make-sm-column(6);
                                }
                                @media screen and (max-width: $screen-xs-max) {
                                    @include make-xs-column(12);
                                }
                        }
                        }
                    }
                    .grouping-image{
                        @include make-sm-column(4);
                        img{
                            border-width: 4px;
                            border-style: solid;
                        }
                    }
                    .grouping-gallery{

                        @media screen and (max-width: $screen-xs-max) {
                            border: 0;
                        }
                    }
                    .grouping-content{
                        @include make-sm-column(6);
                        @include make-sm-column-offset(3);
                    }
                }
                /* EXHIBITIONS LIST layout /////////////////////////////////////////////////  */
                &.grouping-layout-exhibition.grouping-list{
                    .grouping-image{
                        @include make-sm-column(3);
                    }
                    .grouping-content{
                        @include make-sm-column(9);
                        @include make-sm-column-offset(0);
                        .grouping-content-data{
                            @include make-sm-column(12);
                        }
                        .grouping-content-title{
                            @include make-sm-column(4);
                        }
                        .grouping-content-text{
                            @include make-sm-column(6);
                            padding-top: $space-big;
                        }
                        .grouping-content-link{
                            @include make-sm-column(2);
                            text-align: right;
                            padding-top: $space-normal;

                        }
                    }
                    .grouping-only-text{
                        .grouping-content{ 
                            @include make-sm-column(12);
                            .grouping-content-title{
                                @include make-sm-column(6);    
                            }
                            .grouping-content-text{
                                @include make-sm-column(5);    
                            }
                            .grouping-content-link{
                                @include make-sm-column(1);
                            }
                        }
                    }
                }
                /* EXHIBITIONS detail layout /////////////////////////////////////////////////  */
                &.grouping-layout-exhibition-detail{
                    .grouping-content-data{
                        @include make-sm-column(8);
                        @include make-sm-column-offset(2);
                    }
                    .grouping-gallery{
                        @include make-sm-column(12);
                        border-top-style: solid;
                        border-top-width: 1px;
                        @media screen and (max-width: $screen-xs-max) {
                            border: 0;
                        }

                        ul{
                            li{
                            @include make-lg-column(3);
                                @media screen and (max-width: $screen-md-max) {
                                    @include make-md-column(4);
                                }
                                @media screen and (max-width: $screen-sm-max) {
                                    @include make-sm-column(6);
                                }
                                @media screen and (max-width: $screen-xs-max) {
                                    @include make-md-column(12);
                                }
                        }
                        }
                    }
                    .grouping-image{
                        @include make-sm-column(4);
                        img{
                            border-width: 4px;
                            border-style: solid;
                        }
                    }
                    .grouping-content{
                        @include make-sm-column(6);
                        @include make-sm-column-offset(2);
                    }
                    .grouping-map{
                        @include make-sm-column(6);
                        @include make-sm-column-offset(3);
                        iframe{ width: 100% !important;}
                    }
                }
                /* ITEM detail layout /////////////////////////////////////////////////  */
                &.grouping-layout-item{
                    .container{
                        .grouping-content{
                            .form_paypal{
                                position: relative;
                                padding-bottom: $space-normal;
                                display: inline-block;
                                &:before{
                                    content: "\f1f4";
                                    font-family: FontAwesome;
                                }
                                .btn{
                                    padding-left: $space-large;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

