/* Color-pack-1 /////////////////////////////////////////////////  */
.color-pack-1 {
  background: $color-white;
  color: $color-black;
  /* PAYPAL /////////////////////////////////////////////////  */
  .form_paypal{
    input{
        background: $color-paypal-01 !important;
        color: $color-white !important;
    }
    &:before{
        color: $color-white;
    }
    &:hover{
        input{
            background: $color-paypal-02 !important;
            color: $color-white;
        } 
        &:before{
            color: $color-white;
        }
    }
  }
  /* HEADER /////////////////////////////////////////////////  */
  header {
    background: $color-white;
    .navbar-top {
      color: $color-grey;
      ul {
        li {
          a {
            color: $color-grey;
            &:hover {
              color: $color-black;
            }
          }
        }
      }
    }
    .navbar-header {
      .navbar-brand {
        color: $color-black;
      }
      .navbar-toggle {
        .icon-bar {
          background: $color-grey;
        }
        &:hover {
          .icon-bar {
            background: $color-black;
          }
        }
      }
    }
    #navbar {
      ul {
        color: $color-grey;
        li {
          a {
            color: $color-grey;
            &:hover {
              color: $color-black;
            }
            background: none;
            &:focus {
              background: none;
            }
          }
          &.active {
            a {
              color: $color-black;
            }
          }
        }
      }

      &.in, &.collapsing {
        ul {
          li {
            display: block;
            a {
              display: block;
              text-align: center;
            }
            &::after {
              display: none;
            }
          }
        }
      }

        &.affix{
          background: $color-white; 
        }

    }
  }

  /* TITLES /////////////////////////////////////////////////  */
  h1, h2, h3, h6, h1 a, h2 a, h3 a, h6 a {
    color: $color-black;
    &:after {
      background: $color-black;
    }
  }
  /* btn /////////////////////////////////////////////////  */
  .btn {
    background: $color-grey-light;
    border-color: $color-grey-light;
    color: $color-black;
    &.btn-alt {
      background: none;
      border-color: $color-black;
      color: $color-black;
    }
    &.btn-transparent {
      background: none;
      color: $color-black;
      border-color: $color-white;
    }
    &:hover {
      background: $color-black;
      border-color: $color-black;
      color: $color-white;
    }
  }
  /* TEXT /////////////////////////////////////////////////  */
  .grouping-content-text {
    ul {
      li {
        &:before {
          background: $color-black;
        }
      }
    }
    a {
      color: $color-grey;
      &:hover {
        color: $color-tulip;
      }
    }
  }
  /* Titles /////////////////////////////////////////////////  */
    .grouping-content-title, .grouping-layout-title{
        .back-link, .all-link{
            a{
                color: $color-grey;
                &:hover{
                    color: $color-black;
                }
            }
        }
    }


  /* GRID /////////////////////////////////////////////////  */
  section {
    .container {
      border-bottom-color: $color-grey-light;
    }
    /* Grouping /////////////////////////////////////////////////  */
    .grouping-image {
      a {
        &:before {
          background: $color-black;
        }
      }
    }

    .grouping-content-breadcrumbs {
      color: $color-grey;
      ul {
        li {
          border-right-color: $color-grey-light;
          a {
            color: $color-grey;
            &:hover {
              color: $color-black;
            }
          }
        }
      }
    }
    .grouping-content-data {
      ul {
        color: $color-black;
        .grouping-content-data-data {
          color: $color-grey;
        }
      }
    }
    .grouping-content-social {
      ul {
        color: $color-grey;
        border-top-color: $color-grey-light;
        li {
          a {
            background: $color-grey;
            color: $color-white;
            &:hover {
              background: $color-black;
            }
          }
        }
      }
    }

    .grouping-content-contact {
      .form-control {
        background: $color-grey-light;
        border-bottom-color: $color-black;
        color: $color-black;
      }
      .control-check {
        color: $color-grey;
        a {
          color: $color-black;
        }
      }
    }

    .grouping-gallery {
      ul {
        li {
          a {
            color: $color-grey;
            &:hover {
              color: $color-black;
            }
            figure {
              span {
                &:before {
                  background: $color-black;
                }
              }
            }
          }
        }
      }
    }
    &.grouping-layout-gallery-detail, &.grouping-layout-exhibition-detail {
      .grouping-image {
        img {
          border-color: $color-black;
        }
      }
      .grouping-gallery {
        border-color: $color-grey-light;
      }
    }
    &.grouping-layout-exhibition.grouping-list {
      article {
        border-bottom-color: $color-grey-light;
      }
    }
  }

  /* FOOTER /////////////////////////////////////////////////  */
  footer {
    .container {
        border-top-color: $color-grey-light;
        color: $color-grey;
        a { color: $color-black;}
        svg{
            path{ fill: $color-black;}
        }
    }
  }
}

/* Theme 2/////////////////////////////////////////////////  */
.theme-2.color-pack-1 {

  header {
    .navbar-top {
      border-color: $color-grey-light;
    }
  }

  .grouping-content,
  .grouping-content:before,
  footer {
    background: $color-grey-light;
  }

  .btn {
    background: $color-grey;
    border-color: $color-grey;
    color: $color-grey-light;
    &.btn-alt {
      border-color: $color-grey;
      color: $color-grey;
      background: none;
    }
    &.btn-transparent {
      background: none;
      color: $color-grey;
      border-color: $color-grey-light;
    }
    &:hover {
      background: $color-black;
      border-color: $color-black;
      color: $color-white;
    }
  }

  .grouping-gallery {
    ul {
      li {
        a {
          color: $color-white;
          &:hover {
            color: $color-white;
          }
        }
      }
    }
  }

  .grouping-only-image {
    .grouping-content {
      background: none;
    }
  }

  .grouping-home.grouping-only-text {
    background: $color-black;
    color: $color-white;

    .grouping-content {
      background: $color-black;
      .grouping-content-title {
        h1, h2, h3 {
          color: $color-white;
        }
      }
    }
    .btn {
      background: $color-white;
      border-color: $color-white;
      color: $color-black;
      &.btn-alt {
        border-color: $color-white;
        color: $color-white;
        background: none;
      }
      &.btn-transparent {
        background: none;
        color: $color-grey;
        border-color: $color-black;
      }
      &:hover {
        background: $color-white;
        border-color: $color-white;
        color: $color-black;
      }
    }
  }

  .grouping-layout {
    .grouping-layout-title {
      h1, h2, h3, h1 a, h2 a, h3 a {
        color: $color-grey;
      }
    }
    &.grouping-layout-exhibition-detail {
      .grouping-content {
        background: none;
        &:before {
          display: none;
        }
      }
    }
  }
}

/* Theme 3/////////////////////////////////////////////////  */
.theme-3.color-pack-1 {
    background: $color-white url(#{$images_path}/bg_t3_color_1.jpg)  no-repeat 0 0;
    background-size: 100%;

    header {
        background: $color-white-header;
    }

  .grouping-content:before {
    background: $color-black;
  }

  footer {
    background: $color-black;
    color: $color-grey-light;
    h6, a {
      color: $color-white;
    }
      .container{
        svg{
            path{ fill: $color-white;}
        }
      }
  }

  .btn {
    color: $color-grey;
    &:before {
      background: $color-grey-light;
    }
    &.btn-alt {
      color: $color-grey;
    }
    &.btn-transparent {
      background: none;
      color: $color-grey;
    }
    &:hover {
      color: $color-white;
      &:before {
        background: $color-black;
      }
    }
  }

  .grouping-gallery {
    ul {
      li {
        a {
          color: $color-white;
          &:hover {
            color: $color-white;
          }
          figure {
            figcaption {
              &:before {
                background: $color-white;
              }
            }
          }
        }
      }
    }
  }

  .grouping-home.grouping-only-text {
    background: $color-grey-light;
    color: $color-black;

    .grouping-content {
      .grouping-content-title {
        h1, h2, h3 {
          color: $color-black;
        }
      }
    }
    .btn {
      color: $color-grey;
      &.btn-alt {
        color: $color-grey;
      }
      &.btn-transparent {
        color: $color-grey;
      }
      &:hover {
        color: $color-white;
      }
    }
  }

  .grouping-layout {
    .grouping-layout-title {
      h1, h2, h3, h1 a, h2 a, h3 a {
        color: $color-black;
      }
    }
    &.grouping-layout-exhibition-detail {
      .grouping-content {
        &:before {
          display: none;
        }
      }
    }
  }
}
