// Color
$color-white:                  rgba(255, 255, 255, $opacity-no);
$color-white-header:           rgba(255, 255, 255, $opacity-big);
$color-black:                  rgba(9, 9, 9, $opacity-no);
$color-black-header:           rgba(9, 9, 9, $opacity-big);
$color-black-light:            rgba(28, 27, 27, $opacity-no);
$color-grey:                   rgba(158, 151, 151, $opacity-no);
$color-grey-light:             rgba(237, 237, 237, $opacity-no);

$color-lavender:               rgba(248, 247, 247, $opacity-no);
$color-lavender-header:        rgba(248, 247, 247, $opacity-big);
$color-onyx:                   rgba(56, 56, 56, $opacity-no);
$color-steel-teal:             rgba(80, 133, 139, $opacity-no);
$color-sparkle:                rgba(56, 81, 84, $opacity-no);
$color-chinese-violet:         rgba(132, 96, 117, $opacity-no);

$color-black-shadow:           rgba(190, 183, 164, $opacity-no);
$color-tulip:                  rgba(244, 29, 7, $opacity-no);
$color-gray:                   rgba(193, 191, 181, $opacity-no);
$color-cerulean-blue:          rgba(142, 177, 199, $opacity-no);
$color-ucla-blue:              rgba(92, 93, 141, $opacity-no);

$color-jet:                    rgba(52, 37, 47, $opacity-no);
$dark-puce:                    rgba(76, 54, 69, $opacity-no);
$color-lauren-green:           rgba(164, 180, 148, $opacity-no);
$color-wintergreen:            rgba(81, 152, 114, $opacity-no);

$color-alabaster:              rgba(249, 249, 247, $opacity-no);
$color-red-purple:             rgba(22, 16, 50, $opacity-no);
$color-blue-green:             rgba(7, 160, 195, $opacity-no);

$color-battleship:             rgba(130, 130, 130, $opacity-no);
$color-silver:                 rgba(176, 170, 174, $opacity-no);
$color-uca-blue:               rgba(89, 114, 135, $opacity-no);
$color-uca-blue-header:        rgba(89, 114, 135, $opacity-big);
$color-bea-blue:               rgba(189, 212, 231, $opacity-no);
$color-raisin:                 rgba(33, 34, 39, $opacity-no);
$color-dark-electric:          rgba(75, 97, 114, $opacity-no);
$color-pastel-red:             rgba(255, 105, 91, $opacity-no);

$color-cosmic-latte:           rgba(249, 247, 235, $opacity-no);
$color-cosmic-latte-header:    rgba(249, 247, 235, $opacity-big);
$color-pastel-gray:            rgba(211, 209, 198, $opacity-no);
$color-mountain-meadow:        rgba(47, 207, 143, $opacity-no);
$color-bondi-blue:             rgba(2, 170, 181, $opacity-no);
$color-aquamarine:             rgba(103, 222, 180, $opacity-no);
$color-outer-space:            rgba(71, 71, 71, $opacity-no);

$color-paypal-01:             #0094D7;
$color-paypal-02:             #005EA6;