/* Typography-pack-2 /////////////////////////////////////////////////  */

.typography-pack-2{
    /* GENERALS /////////////////////////////////////////////////  */
    font-family: 'Playfair Display', serif;
     -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    -webkit-line-break: after-white-space;

    /* TITLES /////////////////////////////////////////////////  */
    h1, h2, h3, h6{
        font-family: 'Muli', sans-serif;
    }

    /* HEADER /////////////////////////////////////////////////  */
    header{
        .navbar-top{
            font-family: 'Muli', sans-serif;
            .text-left{
                ul{
                    li{
                        a{
                            font-size: $text-special;
                        }
                    }
                }
            }
        }
        .navbar-header{
            .navbar-brand{
                font-family: 'Muli', sans-serif;
            }
        }
    }

    /* BTN /////////////////////////////////////////////////  */
    .btn{
        font-family: 'Muli', sans-serif;
        font-size: $text-special;
    }


    /* GROUPINGS /////////////////////////////////////////////////  */
    section{
        .grouping-content-breadcrumbs,
        .grouping-content-data{
            ul{
                font-size: $text-special;
            }
        }
    }

}

